@using RazorTemplatesMvc
@using RazorTemplatesMvc.Helpers.Css
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
    @Html.CssTemplateRoute(Url, "CssRoute", new { cssname = "test" }, new Parameter("backgroundColor", new Color(23, 26, 26)))
    @*@Html.JsTemplateRoute(Url, "JsRoute", new { jsname = "test" })*@
</head>

<body>
    <div class="main">
        <div class="center">
            @RenderBody()
        </div>
    </div>
    <div class="footer">
        @RenderSection("Footer", false)
    </div>
</body>
</html>
